#validation{
    display: block;
    margin-top: 30px;
}
.bead {
    text-align: center;
    font-weight: bold;
    height: 50px;
    width: 50px;
    background-color: forestgreen;
    border-radius: 50%;
    box-shadow: 0px -11px 23px -3px black inset;
    float: left;
    margin-top: -25px;

}
.row {

    clear: both;
    border: 3px solid gray;
    margin-top: 50px;
    margin-bottom: 50px;
}
#frame {
    border: 15px outset darkslategray;
    max-width: 600px;
}


/*
To move one by one they not needed

.row:nth-child(1) .bead:nth-child(4) {float: right;}
.row:nth-child(1) .bead:nth-child(5) {float: right;}
.row:nth-child(2) .bead:nth-child(1) {float: right;}
.row:nth-child(2) .bead:nth-child(2) {float: right;}
.row:nth-child(2) .bead:nth-child(3) {float: right;}
.row:nth-child(2) .bead:nth-child(4) {float: right;}
.row:nth-child(2) .bead:nth-child(5) {float: right;}
.row:nth-child(3) .bead:nth-child(5) {float: right;}
.row:nth-child(4) .bead:nth-child(3) {float: right;}
.row:nth-child(4) .bead:nth-child(4) {float: right;}
.row:nth-child(4) .bead:nth-child(5) {float: right;}
.row:nth-child(5) .bead:nth-child(5) {float: right;}
*/